<div class="container">
    <div class="container_image">
        <img src="assets/images/logo.svg" alt="logo">
    </div>
    <div class="container_greeting">
        <div class="texte">
            <span class="texte1">lahatra3 skills</span>
            <div class="img_anime" routerLink="/lahatra">
                <img ngSrc="assets/images/book.gif" width="131" height="131" priority>
            </div>
            <span class="texte2">J'ai acquis de nouvelles compétences.</span>
        </div>
    </div>
</div>
