/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

*, *::after, *::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: .9rem;
    height: 100vh;
    letter-spacing: 1px;
}
